.cart-page {
    text-align: center;
    padding: 20px;
}

.cart-product {
    display: flex;
    padding: 10px 0;
}

.cart-product-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart-product .product-link {
    text-decoration: unset;
    color: unset;
}

.cart-product .product-poster {
    width: 100px;
    height: auto;
    margin-right: 15px;
}

.cart-product .product-name {
    font-weight: bold;
    transition: all .2s;
}

.cart-product .product-name:hover {
    -webkit-text-stroke-color: #555555;
    -webkit-text-stroke-width: 1px;
}

.cart-product .product-purchase-panel {
    display: flex;
    //flex-direction: column;
    //justify-content: center;
}

.select-product-button-container {
    align-items: center;
    display: flex;
    margin-right: 10px;
}

.remove-product-button-container {
    align-items: center;
    display: flex;
}

.remove-product-button {
    margin-top: 10px;
}

.cart .cart-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.cart .purchase-button {
    margin-top: 20px;
    padding: 10px 20px;
}