
.app-bar {
    display: flex;
    align-items: center;
    background-color: #1f1f1f !important;
    height: 10vh;
    gap: 10px;
    text-align: center;
    align-content: center;
    margin-inline: auto;
    color: black;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2) !important;
    justify-content: space-between;
}

.app-bar img, a {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 2px;
    height: 50%;
    border: 1px solid #ccc;
    flex-grow: 1;
}

.icon {
    height: 10vh;
}

.mui-icon {
    height: 100% !important;
}

.icon-wrapper {
    gap: 50px;
}

.user-section {
    height: 100%;
    /*display: flex;
    flex-direction: column;*/
}

.user-icon {
    /*flex: 2;
    overflow: auto;
    width: 10%;*/
    height: 100%;
}

.user-message {
    //flex: 1 1 auto;
}