
.app-bar {
    height: 10vh;
}

.user-menu-popup a {
    text-decoration: unset !important;
    color: inherit !important;
}

.search-input {
    flex-grow: 1;
}

.app-bar img, a {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 2px;
    height: 50%;
    border: 1px solid #ccc;
}

.icon {
    height: 100% !important;
    margin-left: 2px;
    margin-right: 2px;
}

.mui-icon {
    font-size: 3rem !important;
}

.icon-wrapper {
    margin-left: 2px;
    margin-right: 2px;
}