

.search-page {
    display: flex;
}

.search-page .main-search-page {
    flex-grow: 1;
    display: inline-block;
    float: none;
}


.search-center-page {
    display: flex;
    padding: 20px;
}

.search-filters {
    top: 0;
    bottom: 0;
    width: 30%;
    height: 100vh;
    position: sticky;
    display: flex;
    flex-direction: column;
}

.search-filters-scroll {
    height: 100%;
    overflow-y: auto;
    overscroll-behavior: none;
}

.search-filters-item {
    width: 100%;
}

.search-actors-filter-skeleton {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.search-actors-filter {
    border: 1px solid #61dafb;
    display: flex;
    flex-direction: column;
    height: 50%;
}

.search-actors-filter ul, .search-actors-filter li{
    padding:0;
}

.search-actors-filter-list {
    overflow: auto;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.search-cast-cell {
    display: flex;
    flex-direction: row;
}

.search-results {
    flex-grow: 1;
    display: inline-block;
    float: none;
}

.search-results-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(30%,180px), 1fr));
    gap: 16px;
    padding: 20px;
}